omegaconf>=2.3.0
asyncio>=3.4.3
torch>=2.1.2
torch_geometric>=2.5.3
langchain>=0.2.3
langchain-openai>=0.1.8
numpy>=1.24.3
pandas>=1.5.0
networkx>=3.0
tqdm>=4.66.4
dspy>=0.1.5
dask>=2024.12.1
epiweeks
scipy
omegaconf
